{% load django_bootstrap5 %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
<style>
  h1{
    text-align: center;
    font-family: "Poor Story", -apple-system, BlinkMacSystemFont;
  }
  h3{
    color: green;
    text-align: center;
    font-family: "Poor Story", -apple-system, BlinkMacSystemFont;
  }
  .mb-3{
    text-align: center;
    font-family: "Poor Story", -apple-system, BlinkMacSystemFont;
    
  }
  .create button{
    border-radius: 10%;
    color: white;
    text-align: center;
    background-color: green;
    font-family: "Poor Story", -apple-system, BlinkMacSystemFont;
    padding: 5px 10px;
  }
</style>
<div class="wrapper" style="text-align: center;">
  <div class="container my-3">
    <form method="post" action="{% url 'users:signup'%}">
        {% csrf_token %}
        {% include "users/form_errors.html" %}
        <div class="mb-3">
            <h1>회원가입하기</h1>
            <h3>탄소중립 캠페인 함께해요🙋‍♀️</h3>
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                    value="{{form.username.value|default_if_none:''}}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                    value="{{form.password1.value|default_if_none:''}}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                    value="{{form.password2.value|default_if_none:''}}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                    value="{{form.email.value|default_if_none:''}}">
        </div>
        <div class="create">
        <button type="submit" class="btn btn-primary">생성하기</button></div>
    </form>
</div>
{% endblock %}